.main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "content";
  height: 100%;
  padding: 1rem;

  &__header {
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0;

    i {
      vertical-align: middle;
    }
  }


  &__nav {

    &__open {
      @include mq($from: tablet) {
        display: none !important;
      }
    }

    &__close {
      align-self: center;
      font-size: 1.5rem;
      width: 2rem;
      height: 2rem;
      padding: 0;

      & i {
        vertical-align: middle;
      }

      @include mq($from: tablet) {
        display: none !important;
      }
    }

    &__ul {
      display: flex;
      flex-flow: nowrap column;
      background-color: rgba($text-color, 0.8);
      gap: .5rem;
      text-align: center;
      position: fixed;
      top: -100%;
      right: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      list-style: none;
      padding: 1rem;
      margin: 0;
      transition: top 0.5s ease-in;
      
      &.open {
        top: 0;
      }
      
      @include mq($from: tablet) {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        position: unset;
        flex-flow: row;
        background-color: unset;
      }
    }
    &__li {
    }
    &__link {
      width: 100%;
      @include mq($from: tablet) {
        width: initial;
      }
    }
  }
}

.game-container {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  gap: 1rem;

  &__box {
    flex: 1;
    background-color: $lightgray-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 1rem;
    border-radius: 10px;
  }
  &__box__label {
    margin: 0;
    font-weight: 300;
    color: $gray-color;
  }
  &__box__text {
    font-weight: 900;
    font-size: 2rem;
  }
}