.endgame {
  // display: flex; (JS)
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 0.5);
  z-index: 200;
  padding: 1rem;
}

.score {
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  text-align: center;

  &__title {
    margin: 0;
  }
  &__score {
    position: relative;
    display: inline-block;

    .record,
    .highlighted {
      display: inline-block;
      direction: ltr;
      color: $brand-color;
      font-weight: 900;
      font-size: 1.5em;
    }
  }
  &__table {
    width: 100%;

    th {
      padding: 0 5px;
      font-size: 0.9em;
      font-weight: 100;
      border-bottom: 1px solid $lightgray-color;

      @include mq($from: tablet) {
        font-size: 1em;
      }
    }

    td {
      direction: ltr;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;

    .btn {
      flex: auto;
      margin: 0.5em;
    }
  }
}
