.start {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $text-color;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__header {
    text-align: center;
    color: #fff;

    .title {
      margin: 0;
      position: relative;
      i {
        vertical-align: middle;
      }
    }

    .description {
      font-size: 0.9em;
      color: $lightgray-color;
      margin-top: 0;
    }
  }
}

#startForm {
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
}

.form_submit {
  width: 100%;
  background-color: $brand-color;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 36px;
  font-weight: bolder;
}

.form_item {
  margin: 1rem 0;

  &_title {
    margin: 0.5rem;
  }

  .radio_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .radio {
    width: 100%;

    & > label {
      display: block;
      background-color: $lightgray-color;
      color: $text-color;
      width: 100%;
      padding: 0.5rem;
      border-radius: 25px;
      text-align: center;
    }

    & > input {
      display: none;
    }

    & input:checked ~ label {
      background-color: $text-color;
      color: #fff;
    }
  }
}

.start__footer {
  position: absolute;
  bottom: 1rem;
  font-size: 0.7em;
  color: $lightgray-color;

  .designer,
  .splitor,
  .participation {
    display: inline-block;
  }

  .color_red {
    color: red;
  }
  a {
    color: $brand-color;
  }
}
