.game {
  display: flex;
  align-items: center;
}

.sq-wrapper {
  flex-grow: 1;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.gameboard {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: grid;
  gap: 0.5rem;
  
  &.grid-4 {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-size: 3rem;
  }
  &.grid-6 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    font-size: 2rem;
  }
}
.game-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightgray-color;
  border-radius: 100%;
  transition: background-color .3s ease-in,
              color .3s ease-in;

  i, span {
    color: $text-color;
  }
  .overlay {
    background-color: $text-color;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity .3s ease-in;
  }
  &.show .overlay {
    opacity: 0;
  }
  &.passed{
    background-color: $brand-color;

    i, span {
      color: #fff;
    }
    .overlay {
      opacity: 0;
    }
  }  
}
